* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

/* header */

.header {
    background: #222;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 859px;
}

.left_header_icons {
    display: flex;
    flex-direction: row;
    gap: 41px;
}

.right_header_icons {
    color: #E8E8E8;
}

/* 2nd section */

.top_item_with_image_and_logo {
    display: grid;
    grid-template-columns: 50% 50%;
    background: lightgray 50% / cover no-repeat;
}

.left_top_picture {
    display: flex;
    justify-content: center;
}

/* 3rd section */

.top_examples {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 96px;
    justify-content: center;    
}

/* .item {
    background-color: rgba(33, 22, 22);
    opacity: 0.70;
} */

/* 4th main section */

.info_and_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.six_standard_items {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
}

.h3_heading {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paragraph_main_info {
    padding-top: 6px;
    padding-bottom: 48px;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_item {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.h6_heading {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paragraph_item_main {
    padding-top: 16px;
    padding-bottom: 16px;
}